*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(0, 0, 0);
    padding: 20px 25px;
}
nav{
    display: inline-block;
    width: calc(100% - 103px);
    text-align: right;
}
nav ul{
    list-style-type: none;

}nav ul li{
    display: inline-block;
    margin: 10px 15px;
    
}
.roselab{
    color: rgb(162, 20, 20);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 22px;
}
nav ul li a:hover{
    background-color: #fff;
    color: black;
}
/*MENÜ ALTINDAKİ RESİM*/

#section-1{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/brooke-lark-M4E7X3z80PQ-unsplash-768x512.jpg);
    background-position: top;
    padding: 17px;
    height: 850px;
    width: 100%;
    background-size: cover;
}
.btn-s1{
    margin-left: 37%;
    margin-top: 20%;
    background-color: rgb(128, 8, 8);
    color: #fff;
    padding: 25px 20px;
    font-size: 20px;
    border-radius: 7px;
    transition: color ;
}
.btn-s1:hover{
    color:#000000;
}
/*card*/
#section-2{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
}
.card{
    width: 20%;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
   border-radius: 6px;
}
.card:hover{
    opacity: 0.9;

}
.container{
    padding: 5px 20px;

}
.container p{
    margin: 20px 0;
}
img{
    border-radius: 6px 6px 0 0;
    width: 100%;
}
p{
    font-size: 21px;
}
#section-3{
   display: flex; 
   justify-content: space-around;
   margin: 200px 0;

}
footer{
    background-color: black;
    color:#fff;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;

}